<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Road Freight Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Freight for Road Transport</h1>
     <h3> Enter the following values to predict the freight for road transport</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="AT_KM" placeholder="AT_KM" required="required" />
    	<input type="text" name="CZ_KM" placeholder="CZ_KM" required="required" />
    	<input type="text" name="DE_KM" placeholder="DE_KM" required="required" />
    	<input type="text" name="EE_KM" placeholder="EE_KM" required="required" />
    	<input type="text" name="HU_KM" placeholder="HU_KM" required="required" />
    	<input type="text" name="LT_KM" placeholder="LT_KM" required="required" />
    	<input type="text" name="LV_KM" placeholder="LV_KM" required="required" />
    	<input type="text" name="PL_KM" placeholder="PL_KM" required="required" />
    	<input type="text" name="SE_KM" placeholder="SE_KM" required="required" />
    	<input type="text" name="SK_KM" placeholder="SK_KM" required="required" />

        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>