<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Road Freight Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Freight for Road Transport</h1>
     <h3> Enter the following values to predict the freight for road transport</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	Kilometers in Austria: <input type="text" name="AT_KM" placeholder="0" required="required" />
    	Kilometers in Czech:<input type="text" name="CZ_KM" placeholder="0" required="required" />
    	Kilometers in Germany:<input type="text" name="DE_KM" placeholder="0" required="required" />
    	Kilometers in Estonia:<input type="text" name="EE_KM" placeholder="0" required="required" />
    	Kilometers in Hungary:<input type="text" name="HU_KM" placeholder="0" required="required" />
    	Kilometers in Lithuania:<input type="text" name="LT_KM" placeholder="0" required="required" />
    	Kilometers in Latvia:<input type="text" name="LV_KM" placeholder="0" required="required" />
    	Kilometers in Poland:<input type="text" name="PL_KM" placeholder="0" required="required" />
    	Kilometers in Sweden:<input type="text" name="SE_KM" placeholder="0" required="required" />
    	Kilometers in Slovakia:<input type="text" name="SK_KM" placeholder="0" required="required" />
	Minimum required temperature in degrees Celsius:<input type="text" name="TEMP_MIN" placeholder="0" required="required" />
	Maximum required temperature in degrees Celsius:<input type="text" name="TEMP_MAX" placeholder="0" required="required" />
	Number of loading meters:<input type="text" name="LDM" placeholder="0" required="required" />
	Weight in tonnes:<input type="text" name="LDM" placeholder="0" required="required" />
	Other costs like ferry or tunnel. Give with "-" in front of the number:<input type="text" name="OTHER_COSTS" placeholder="0" required="required" />
	Quantity of loads:<input type="text" name="QTY_LOADS" placeholder="0" required="required" />
	Quantity of deliveries:<input type="text" name="QTY_DELIVERIES" placeholder="0" required="required" />
	Payment term in days:<input type="text" name="PAYMENT TERM" placeholder="0" required="required" />
	Cargo values in €:<input type="text" name="CARGO_VALUE_EURO" placeholder="0" required="required" />
	START_LOAD_DATA_YEAR:<input type="text" name="START_LOAD_DATA_YEAR" placeholder="0" required="required" />
	START_LOAD_DATA_MONTH:<input type="text" name="START_LOAD_DATA_MONTH" placeholder="0" required="required" />
	START_LOAD_DATA_DAY:<input type="text" name="START_LOAD_DATA_DAY" placeholder="0" required="required" />
	END_LOAD_DATA_YEAR:<input type="text" name="END_LOAD_DATA_YEAR" placeholder="0" required="required" />
	END_LOAD_DATA_MONTH:<input type="text" name="END_LOAD_DATA_MONTH" placeholder="0" required="required" />
	END_LOAD_DATA_DAY:<input type="text" name="END_LOAD_DATA_DAY" placeholder="0" required="required" />
	START_DELIVERY_DATA_YEAR:<input type="text" name="START_DELIVERY_DATA_YEAR" placeholder="0" required="required" />
	START_DELIVERY_DATA_MONTH:<input type="text" name="START_DELIVERY_DATA_MONTH" placeholder="0" required="required" />
	START_DELIVERY_DATA_DAY:<input type="text" name="START_DELIVERY_DATA_DAY" placeholder="0" required="required" />
	END_DELIVERY_DATA_YEA:<input type="text" name="END_DELIVERY_DATA_YEA" placeholder="0" required="required" />
	END_DELIVERY_DATA_MONTH:<input type="text" name="END_DELIVERY_DATA_MONTH" placeholder="0" required="required" />
	END_DELIVERY_DATA_DAY:<input type="text" name="END_DELIVERY_DATA_DAY" placeholder="0" required="required" />

        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
